.graph-draw-container{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    .tools{
        flex:0 0 40px;
        border: 1px solid #DDD;
        border-bottom-width: 0;
        display: flex;
        align-items: center;
        width: 100%;
    }
    .content{
        width: 100% !important;
        flex:1;
        position: relative;
        outline: none;
        cursor: default !important;
        border: 1px solid #DDD;
        min-height: 550px;
		overflow: auto;

        ::v-deep .x6-widget-transform {
            border-color: #122dff;
            border-radius: 0;
            > div.x6-widget-transform-resize {
                background-color: rgba(128, 163, 251, 0.7);
                border-color: rgba(1, 72, 255, 0.7);
                border-radius: 50%;
                width: 6px;
                height: 6px;
                &[data-position='top-left']{
                    top: -3px;
                    left: -3px;
                }
                &[data-position='top']{
                    top: -3px;
                    left: calc(50% - 3px);
                    margin: 0;
                }
                &[data-position='top-right']{
                    right: -3px;
                    top: -3px;
                }
                &[data-position='right']{
                    right: -3px;
                    top: calc(50% - 3px);
                    margin: 0;
                }
                &[data-position='bottom-right']{
                    right: -3px;
                    bottom: -3px;
                }
                &[data-position='bottom']{
                    left: calc(50% - 3px);
                    bottom: -3px;
                    margin: 0;
                }
                &[data-position='bottom-left']{
                    left: -3px;
                    bottom: -3px;
                }
                &[data-position='left']{
                    left: -3px;
                    top: calc(50% - 3px);
                    margin: 0;
                }
            }
        }

    }
    .btns{
        flex:0 0 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #DDD;
    }

    .edit-text{
        position: fixed;
        z-index: 100;
        display: none;
        align-items: center;
        justify-content: center;
        transition: all .2s;
        font-size: 12px;
        &.show{
            display: flex;
        }
        >textarea{
            outline: none;
            padding: 0;
            border: 0;
            background-color: transparent;
            text-align: center;
            width: 100%;
        }
        >div{
            outline: none;
            text-align: center;
            padding: 2px 5px;
            background-color: #0077AA;
            color: #FFF;
        }
    }
}
