<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>

        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }
            table .caption{

            }
            th, td {
                border: 1px solid black;
                padding: 8px;
                text-align: left;
                font-size:9pt;
            }
        </style>
    </head>
    <body>
        <table>
            <tbody>
                <tr>
                    <td align="center" position="[94, 4, 255, 32]">aaaa</td>
                    <td align="center" position="[254, 4, 406, 32]">——</td>
                    <td align="center" position="[405, 4, 556, 32]">dfdf</td>
                    <td align="center" position="[555, 4, 718, 32]">——</td>
                </tr>
                <tr>
                    <td rowspan="10" align="center" position="[94, 32, 255, 296]">rowSpan合并1</td>
                    <td colspan="2" align="center" position="[254, 32, 556, 59]">colspan合并2</td>
                    <td align="center" position="[555, 32, 718, 59]">——</td>
                </tr>
                <tr>
                    <td align="center" position="[255, 59, 406, 86]">——</td>
                    <td align="center" position="[405, 58, 556, 86]">——</td>
                    <td align="center" position="[555, 58, 718, 86]">——</td>
                </tr>
                <tr>
                    <td align="center" position="[255, 85, 406, 112]">——</td>
                    <td align="center" position="[405, 85, 556, 112]">——</td>
                    <td align="center" position="[555, 85, 718, 112]">——</td>
                </tr>
                <tr>
                    <td align="center" position="[255, 111, 406, 138]">——</td>
                    <td align="center" position="[405, 111, 556, 138]">dfdfdfdf</td>
                    <td align="center" position="[555, 111, 718, 138]">——</td>
                </tr>
                <tr>
                    <td align="center" position="[255, 137, 406, 164]">——</td>
                    <td align="center" position="[405, 137, 556, 164]">——</td>
                    <td align="center" position="[555, 137, 718, 165]">——</td>
                </tr>
                <tr>
                    <td align="center" position="[255, 164, 406, 191]">——</td>
                    <td align="center" position="[405, 164, 556, 191]">——</td>
                    <td align="center" position="[555, 164, 718, 191]">——</td>
                </tr>
                <tr>
                    <td align="center" position="[255, 190, 406, 217]">dfdfdfdf</td>
                    <td align="center" position="[405, 190, 556, 217]">——</td>
                    <td align="center" position="[555, 190, 718, 217]">——</td>
                </tr>
                <tr>
                    <td align="center" position="[255, 216, 406, 243]">——</td>
                    <td align="center" position="[405, 216, 556, 243]">dfdf</td>
                    <td align="center" position="[555, 216, 718, 243]">——</td>
                </tr>
                <tr>
                    <td align="center" position="[255, 242, 406, 269]">——</td>
                    <td align="center" position="[405, 242, 556, 269]">——</td>
                    <td align="center" position="[555, 242, 718, 269]">——</td>
                </tr>
                <tr>
                    <td align="center" position="[255, 269, 406, 296]">——</td>
                    <td align="center" position="[405, 269, 556, 296]">dfdfdf</td>
                    <td align="center" position="[555, 269, 718, 296]">——</td>
                </tr>
                <tr>
                    <td colspan="4" align="center" position="[95, 295, 718, 322]">colspan合并3</td>
                </tr>
                <tr>
                    <td rowspan="8" align="center" position="[95, 321, 255, 532]">rowSpan合并4</td>
                    <td align="center" position="[255, 321, 406, 348]">dfdfdf</td>
                    <td align="center" position="[405, 321, 556, 348]">——</td>
                    <td align="center" position="[555, 321, 718, 348]">——</td>
                </tr>
                <tr>
                    <td align="center" position="[255, 348, 406, 375]">——</td>
                    <td align="center" position="[405, 348, 556, 375]">——</td>
                    <td align="center" position="[555, 347, 718, 375]">——</td>
                </tr>
                <tr>
                    <td align="center" position="[255, 374, 406, 401]">——</td>
                    <td align="center" position="[405, 374, 556, 401]">——</td>
                    <td align="center" position="[555, 374, 718, 401]">——</td>
                </tr>
                <tr>
                    <td align="center" position="[255, 400, 406, 427]">——</td>
                    <td align="center" position="[405, 400, 556, 427]">——</td>
                    <td align="center" position="[555, 400, 718, 427]">——</td>
                </tr>
                <tr>
                    <td align="center" position="[255, 426, 406, 453]">——</td>
                    <td align="center" position="[405, 426, 556, 453]">——</td>
                    <td align="center" position="[555, 426, 718, 454]">——</td>
                </tr>
                <tr>
                    <td align="center" position="[255, 453, 406, 480]">——</td>
                    <td align="center" position="[405, 453, 556, 480]">——</td>
                    <td align="center" position="[555, 453, 718, 480]">——</td>
                </tr>
                <tr>
                    <td align="center" position="[255, 479, 406, 506]">fdfd</td>
                    <td align="center" position="[405, 479, 556, 506]">——</td>
                    <td align="center" position="[555, 479, 718, 506]">——</td>
                </tr>
                <tr>
                    <td align="center" position="[255, 505, 406, 532]">——</td>
                    <td align="center" position="[405, 505, 556, 532]">——</td>
                    <td align="center" position="[555, 505, 718, 532]">——</td>
                </tr>
                <tr>
                    <td align="center" position="[95, 531, 255, 558]">dfd</td>
                    <td align="center" position="[255, 531, 406, 558]">——</td>
                    <td align="center" position="[405, 531, 556, 558]">——</td>
                    <td align="center" position="[555, 531, 718, 559]">——</td>
                </tr>
                <tr>
                    <td align="center" position="[95, 558, 255, 585]">——</td>
                    <td align="center" position="[255, 558, 406, 585]">dfdfdf</td>
                    <td align="center" position="[405, 558, 556, 585]">——</td>
                    <td align="center" position="[555, 558, 718, 585]">——</td>
                </tr>
                <tr>
                    <td align="center" position="[95, 584, 255, 611]">435465645656</td>
                    <td align="center" position="[255, 584, 406, 611]">——</td>
                    <td align="center" position="[405, 584, 556, 611]">——</td>
                    <td align="center" position="[555, 584, 718, 611]">——</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
