<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="info-block cover fixed" contenteditable="false">
            <div class="ics-ccs">
                <p data-mce-caret="before" data-mce-bogus="all" style="top: 68px;"><br data-mce-bogus="1"></p>
                <p class="ics" title="ICS编号" contenteditable="false"><span contenteditable="true"
                        class="tag other icsNumber" data-tag="icsNumber" data-name="ICS编号" data-type="3"
                        data-set-tag="1">1002.1.2</span><br></p>
                <p class="ccs" title="CCS编号" contenteditable="false"><span contenteditable="true"
                        class="tag other ccsNumber" data-tag="ccsNumber" data-name="CCS编号" data-type="3"
                        data-set-tag="1">Z 122</span><br></p><br>
            </div>
            <div class="icon icon_gb" data-icon="gb" contenteditable="false"><img style="width: 40mm; height: 20mm;"
                    src="http://192.168.99.96:9001/files/images/cover_gb.png"></div>
            <h1 class="title stdTitle gb" contenteditable="false"><img style="width: 644px; ;;height: 60px;"
                    crossorigin="anonymous" src="/nodeapi/files/images/title_gb.png"><span style="display: none;"
                    data-mce-style="display: none;">中华人民共和国国家标准</span></h1>
            <div class="numbers">
                <p class="tt gb" contenteditable="false"><span data-tag="stdSign" data-name="GB/T"
                        style="margin-right: 10px;" class="tag other stdSign focus" contenteditable="true"
                        data-mce-style="margin-right: 10px;">GB/T</span><span class="tag other stdNo" data-tag="stdNo"
                        data-name="顺序号—年代号" data-type="5" contenteditable="true">1111—2022</span><br></p>
                <p class="instead" contenteditable="false" style="margin-top: 5px;" data-mce-style="margin-top: 5px;">
                    <span data-tag="origStdNo" data-name="修订原标准编号" data-type="3" class="tag other origStdNo"
                        contenteditable="true">GB/T 222-111-2023</span><br></p><br>
            </div>
            <hr class="title-hr" size="1">
            <div class="content" contenteditable="false">
                <p class="std-name" contenteditable="false"><span data-tag="stdName" data-name="国家标准名称" data-type="3"
                        class="tag other stdName" contenteditable="true">国标测试-SAM</span><br></p>
                <p class="en-name" contenteditable="false"><span data-tag="stdNameEn" data-name="标准英文译名" data-type="1"
                        class="tag other stdNameEn" contenteditable="true">National Standard Test Sam</span><br></p>
                <p class="sign-name" contenteditable="false"><span data-tag="consistentSign"
                        class="tag other consistentSign" data-type="1" data-name="与国际标准一致性程度的标识"
                        contenteditable="true">(TEST 9988333,MOD)</span><br></p>
                <p class="tag-content std-edition" contenteditable="false"><span data-tag="stdEdition" data-name="文档版次"
                        data-type="3" class="tag other stdEdition" contenteditable="true" style="font-size: 14pt;"
                        data-mce-style="font-size: 14pt;">草案稿</span><br></p>
                <p class="tag-updatetime date-time" contenteditable="false" style="padding: 2pt 0; font-size: 12pt;"
                    data-mce-style="padding: 2pt 0; font-size: 12pt;"><span data-tag="updateTime" data-name="文档完成时间"
                        data-type="5" class="tag other updateTime" contenteditable="true"></span><br></p>
                <p class="patentFile" contenteditable="false" style="margin-top: 2em; font-size: 12pt;"
                    data-mce-style="margin-top: 2em; font-size: 12pt;"><span data-tag="patentFile"
                        contenteditable="true" data-name="在提交反馈意见时，请将您知道的相关专利连同支持性文件一并附上。"
                        class="tag other patentFile"></span><br></p><br>
            </div>
            <div class="footer-publish date-time" contenteditable="false"><span data-tag="stdPublishDate"
                    data-name="XXXX-XX-XX" class="tag other stdPublishDate" data-type="5"
                    contenteditable="true">2022-08-01</span><br></div>
            <div class="footer-put date-time" contenteditable="false"><span data-tag="stdPerformDate"
                    data-name="XXXX-XX-XX" class="tag other stdPerformDate" data-type="5"
                    contenteditable="true">2022-08-31</span><br></div>
            <hr class="footer-hr">
            <div class="footer-table" contenteditable="false">
                <div class="uc gb main-util">
                    <p class="releaseDepartment"><img style="width: 295px; height: 50px;" crossorigin="anonymous"
                            src="/nodeapi/files/images/cover_gb_org.png"></p>
                </div>
                <div class="ub">发布</div>
            </div>
        </div>
    </body>
</html>
